body
{
	background-color:black;
	background-attachment:fixed;
	width:100px;
	height:100px;
}

a
{
	color:#eeeeee;
}

#div_top
{
	font-family:Verdana;
	text-align: center;	font-size:32px;
	background-color:#363636;	color:#eeeeee;
	border-radius:0px;	border: solid 0px #00d4ff;
    height: 200px;	width: 1520px;
}

#div_underline
{
	margin: 0px 0px 0px 0px;
	background-color:#00d4ff;
    height: 25px;	width: 1520px;
}

#div_center
{
	margin: 12px 0px 0px 355px;	font-family:Verdana;
	text-align:center;	font-size:26px;
	background-color:black;	color:#eeeeee;
	opacity:1;
	border-radius:0px;	border: solid 0px #00d4ff;
    height: 480px;	width: 800px;	
}

#div_down
{
	margin: 22px 0px 0px 0px;	font-family:verdana;
	text-align:center;	font-size:28px;
	background-color:black;	color:#eeeeee;
	opacity:1;
	border-radius:20px;	border: solid 1px #00d4ff;
    height: 200px;	width: 800px;
}

#Slot
{
	margin: 6px 0px 0px 90px;	font-family:Verdana;
	text-align:center;	font-size:22px;
	background-color:black;
	opacity:1;
	border-radius:20px;	border: solid 1px #00d4ff;
    height: 100px;	width: 600px;
}

#Game_Slot
{
	margin: 6px 0px 0px 31px;	font-family:Verdana;
	text-align:center;	font-size:42px;
	background-color:black;	color:#eeeeee;
	opacity:1;
	border-radius:20px;	border: solid 1px #00d4ff;
    height: 200px;	width: 730px;
}

#Game_Icon
{
	margin: -12px 0px 0px 40px;	font-family:Verdana;
	text-align:left;	font-size:18px;
	background-color:black;	color:#eeeeee;
	opacity:1; border-radius:5px;
    border: solid 1px #00d4ff;
    height: 100px;	width: 100px;
}

#div_RUS
{
	margin: -80px 0px 0px 180px;	font-family:Verdana;
	text-align:center;	font-size:32px;
	background-color:black;	color:#eeeeee;
	opacity:1; border-radius:20px;
    border: solid 1px #00d4ff;
    height: 60px;	width: 240px;
}

#div_ENG
{
	margin: -64px 0px 0px 450px;	font-family:Verdana;
	text-align:center;	font-size:32px;
	background-color:black;	color:#eeeeee;
	opacity:1; border-radius:20px;
    border: solid 1px #00d4ff;
    height: 60px;	width: 240px;
}

#div_center_eng
{
	margin: 12px 0px 0px 355px;	font-family:Verdana;
	text-align:left;	font-size:26px;
	background-color:black;	color:#eeeeee;
	opacity:1;
	border-radius:0px;	border: solid 0px #00d4ff;
    height: 480px;	width: 800px;
}

#div_prt_sc
{
	font-family:Verdana;
	text-align:left;	font-size:26px;
	background-color:black;	color:#eeeeee;
	opacity:1;   margin: 12px 0px 0px 12px;
	border-radius:1px;	border: solid 2px #00d4ff;
    height: 434px;	width: 770px;
}



#Slot:hover
{
	transform: scale(1.04);
	background-color:#363636;
}

#div_RUS:hover
{
	transform: scale(1.04);
	background-color:#363636;
}

#div_ENG:hover
{
	transform: scale(1.04);
	background-color:#363636;
}

#div_prt_sc:hover
{
	transform: scale(1.02);
}




@media (max-width: 1160px)
{
#div_top
{
	margin: 0px 0px 0px 0px;
    height: 220px;	width: 1520px;
}
	
#div_center
{
	margin: 0px 0px 0px 300px;
    height: 480px;	width: 920px;	
}

#div_down
{
	margin: 12px 0px 0px 20px;
    height: 200px;	width: 920px;
}

#Slot
{
	margin: 6px 0px 0px 90px;
    height: 100px;	width: 730px;
}

#div_center_eng
{
	margin: 12px 0px 0px 300px;
    height: 3590px;	width: 920px;	
}

#Game_Slot
{
	margin: 6px 0px 0px 60px;
    height: 200px;	width: 845px;
}

#div_prt_sc
{
    margin: 12px 0px 0px 70px;
    height: 434px;	width: 770px;
}

}